<section id="sectionLogin">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="col-md-6 col-xs-10 mx-auto top3em">
                <div class="card">
                    <div class="card-body">
                        <!-- form -->
                        <form id="formLogin" action="/users/login" method="post">
                            {{#if registroOk}}
                                <div class="alert alert-success">{{registroOk}}</div>
                            {{/if}}
                            <div>
                                <span class="fas fa-user"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Email" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Password"
                                       class="form-control form-control-sm">
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-dark btn-sm">Iniciar Sesion</button>
                            </div>
                        </form>
                        {{#if errorEmail}}
                            <div class="alert alert-warning">{{errorEmail}}</div>
                        {{/if}}
                        {{#if errorPassword}}
                            <div class="alert alert-warning">{{errorPassword}}</div>
                        {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
